@use "../base/vars";

.top-line {
  background-color: var(--gray-color);
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--light-color);

  a {
    color: var(--light-color);
    transition: color var(--transition-speed) var(--transition-func);

    &:hover {
      color: var(--main-color);
    }
  }
}

.navbar-side {
  position: relative;
  display: flex;
  & > ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0 42px 0 0;
  }
  .navbar-phone {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--main-color);

    a {
      color: var(--gray-color);
    }
  }
  .search-form {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 10;
    width: 100%;
    line-height: 1.5;
  }
  .search-form > button {
    position: absolute;
    top: 1px;
    right: 0;
    background-color: transparent;
    background-color: var(--main-color);
    border-radius: 30px;
    border: none;
    width: 32px;
    height: 32px;
    z-index: 10;
  }
  .form-control {
    position: absolute;
    top: -3px;
    right: 0;
    border-radius: 30px;
    padding: 0.375rem 0.75rem;
    width: 0;
    opacity: 0;
    z-index: 10;
    transition: opacity var(--transition-speed) var(--transition-func), width var(--transition-speed) var(--transition-func);
  }
  .form-control.show {
    width: 100%;
    opacity: 1;
  }
}
