@use "../base/vars";

.top-line {
  background-color: var(--gray-color);
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--light-color);

  a {
    color: var(--light-color);
    transition: color var(--transition-speed) var(--transition-func);

    &:hover {
      color: var(--main-color);
    }
  }
}
