<div class="wrapper">
    <header class="header">
        <div class="top-line">
            <div class="container">
                <div class="d-flex">
                    <div class="text-center flex-grow-1">
                        Скидка&nbsp;10% по&nbsp;промокоду &laquo;ZAMOK&raquo; на&nbsp;все заказы до&nbsp;10.09
                    </div>
                    <div class="callback">
                        <a class="" href="#">Обратный звонок</a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="img/logo.svg" alt="Gold Service">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Главная</a>
                        </li>
                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Каталог
                            </a>
                            <div class="container dropdown-menu megamenu animate slideIn" role="menu">
                                <div class="row g-3">
                                    <div class="col-lg-3 col-6">
                                        <h6 class="title">Електронные замки</h6>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Врезные замки</a></li>
                                            <li><a href="#">Замки для квартик</a></li>
                                            <li><a href="#">Замки для дома</a></li>
                                        </ul>
                                    </div><!-- end col-3 -->
                                    <div class="col-lg-3 col-6">
                                        <h6 class="title">Механические замки</h6>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Накладные замки</a></li>
                                            <li><a href="#">Цилиндровые замки</a></li>
                                            <li><a href="#">Навесные замки</a></li>
                                        </ul>
                                    </div><!-- end col-3 -->

                                    <div class="col-lg-3 col-6">
                                        <h6 class="title">Электронные замки</h6>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Кодовые замки</a></li>
                                            <li><a href="#">Замки с дистанционным управлением</a>
                                            </li>
                                            <li><a href="#">Биометрические замки</a></li>
                                        </ul>
                                    </div><!-- end col-3 -->
                                </div>
                            </div> <!-- dropdown-mega-menu end-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Оптовая продажа</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">О нас</a>
                        </li>
                    </ul>
                </div> <!-- end collapse nav-bar-->

                <div class="navbar-side">
                    <ul>
                        <li class="navbar-phone">
                            <i class="fa-solid fa-phone"></i>
                            <a href="tel:+79665588499">+7 (966) 55 88 499</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="">
                                <i class="fa-regular fa-user"></i>
                            </a>
                            <ul class="dropdown-menu  animate slideIn">
                                <li>
                                    <a class="dropdown-item" href="#!">Registration</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#!">Authorization</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#!">Personal account</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <form class="search-form" action="">
                        <input class="form-control" type="text" name="s" placeholder="Search goods" required>
                        <button id="serch-form-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>

                </div> <!-- end navbar-side-->

            </div>
        </nav>
    </header>