<div class="wrapper">
    <header class="header">
        <div class="top-line">
            <div class="container">
                <div class="d-flex">
                    <div class="text-center flex-grow-1">
                        Get a&nbsp;10% discount with promo code&nbsp;«ZAMOK» on all orders until&nbsp;September&nbsp;10
                    </div>
                    <div class="callback">
                        <a href="#">Request a callback</a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg top-navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="img/logo.svg" alt="Gold Service">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Catalog
                            </a>
                            <div class="container dropdown-menu megamenu animate slideIn" role="menu">
                                <div class="row g-3">
                                    <div class="col-lg-3 col-6">
                                        <h6 class="title">Electronic Locks</h6>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Mortise Locks</a></li>
                                            <li><a href="#">Apartment Locks</a></li>
                                            <li><a href="#">Home Locks</a></li>
                                        </ul>
                                    </div><!-- end col-3 -->
                                    <div class="col-lg-3 col-6">
                                        <h6 class="title">Mechanical Locks</h6>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Surface-Mounted Locks</a></li>
                                            <li><a href="#">Cylinder Locks</a></li>
                                            <li><a href="#">Padlocks</a></li>
                                        </ul>
                                    </div><!-- end col-3 -->
                                    <div class="col-lg-3 col-6">
                                        <h6 class="title">Electronic Locks</h6>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Code Locks</a></li>
                                            <li><a href="#">Remote Control Locks</a></li>
                                            <li><a href="#">Biometric Locks</a></li>
                                        </ul>
                                    </div><!-- end col-3 -->
                                </div>
                            </div> <!-- dropdown-mega-menu end-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wholesale</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                    </ul>
                </div> <!-- end collapse nav-bar-->
                <div class="navbar-side">
                    <ul>
                        <li class="navbar-phone">
                            <i class="fa-solid fa-phone"></i>
                            <a href="tel:+79665588499">+7 (966) 55 88 499</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                data-bs-display="static"><i class="fa-regular fa-user"></i></a>
                            <ul class="dropdown-menu  dropdown-menu-end animate slideIn">
                                <li>
                                    <a class="dropdown-item" href="#!">Registration</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#!">Login</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#!">Personal Account</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="search-form" action="">
                        <input class="form-control" type="text" name="s" placeholder="Search goods" required>
                        <button id="search-form-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                    </form>
                </div> <!-- end navbar-side-->
            </div>
        </nav>
    </header>
</div>