@use "vars" as *;
@use "fonts" as *;

html,
body {
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  min-width: 320px;
  font-size: 16px;
  line-height: 1.625;
  font-family: "SF Pro", sans-serif;
  background-color: var(--bg-color-light);
  color: var(--gray-color);
}

img {
  max-width: 100%;
  height: auto;
}
