@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-Light.woff2");
  format: "woff2";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-HeavyItalic.woff2");
  format: "woff2";
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-Regular.woff2");
  format: "woff2";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-RegularItalic.woff2");
  format: "woff2";
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-Medium.woff2");
  format: "woff2";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-Semibold.woff2");
  format: "woff2";
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-SemiboldItalic.woff2");
  format: "woff2";
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-Bold.woff2");
  format: "woff2";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-BoldItalic.woff2");
  format: "woff2";
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-Heavy.woff2");
  format: "woff2";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/sfpro/SFProText-HeavyItalic.woff2");
  format: "woff2";
  font-weight: 700;
  font-style: italic;
}
