:root {
  --gb-light-color: #ffffff;
  --light-color: #ffffff;
  --bg-light-alt: #f2f8ff;
  --gray-color: #454f5b;
  --color-bg-gray: #f7fbfe;
  --dark-color: #161c24;
  --main-color: #4295e4;
  --light-gray-color: #c4cdd5;
  --stroke-color: #eaeaea;
  --primary-color: #00999e;
  --light-blue-color: #add7ff;
  --rad-color: #e44286;
  --color-disabled: #adadad;

  --container-padding: 10px;

  --transition-speed: 0.3s;
  --transition-func: ease-in-out;
}
